* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* 
.....head......  */
.head {
  width: 100%;
  height: 950px;
  background-image: url(./images/head.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* 

.............nav........... */
.head nav {
  height: 75px;
  width: 100%;
  display: flex;
}
/* 

.........nav logo........ */
.head nav .navlogo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.head nav .navlogo p {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: sans-serif;
  padding: 10px;
  background-color: rgb(3, 121, 81);
  border-radius: 10px;
}
/* 

......nav links......*/
.head nav .navlinks {
  width: 55%;
}
.head nav .navlinks ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head nav .navlinks ul li {
  font-size: 1rem;
  list-style-type: none;
  margin-top: 30px;
}
.head nav .navlinks ul li a {
  text-decoration: none;
  color: rgb(112, 112, 112);
  margin: 15px;
  padding: 9px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.head nav .navlinks ul li a:hover {
  background-color: rgb(112, 112, 112);
  color: white;
  border-radius: 7px;
}
/* 

.........nav button........ */
.head nav .navbutton {
  width: 15%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.head nav .navbutton button {
  margin-right: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  color: rgb(77, 77, 77);
  background-color: rgb(248, 248, 248);
  font-size: 1rem;
  cursor: pointer;
}
.head nav .navbutton button i {
  margin-right: 5px;
}
.head nav .navbutton button:hover {
  color: white;
  background-color: rgb(11, 79, 167);
  font-weight: 600;
}
/* 

.............head details......... */
.head .head_details {
  margin: 300px auto 0px;
  text-align: center;
}
.head .head_details .welcome {
  width: 100%;
  display: flex;
  justify-content: center;
}
.head .head_details .welcome h3 {
  font-size: 3.6rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(10, 128, 88);
  width: 700px;
  line-height: 60px;
  font-weight: 900;
}
.head .head_details .button {
  margin: 60px 0px 0px 0px;
  font-size: 1.1rem;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}
.head .head_details .button button1 {
  margin: 6px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: rgb(10, 112, 247);
  cursor: pointer;
}
.head .head_details .button button1:hover {
  background-color: rgb(15, 83, 173);
}
.head .head_details .button button2 {
  margin: 6px;
  padding: 7px 15px;
  border-radius: 20px;
  border: 2px solid rgb(216, 216, 216);
  background-color: transparent;
  cursor: pointer;
}
.head .head_details .button button2:hover {
  color: black;
  background-color: rgb(216, 216, 216);
}
/* 


......qualities.... */
.our_quality {
  margin: 22px auto;
  width: 1300px;
  height: 600px;
  display: flex;
  font-family: sans-serif;
}
.our_quality .left {
  width: 30%;
  height: 100%;
  background-image: url(./images/home-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.our_quality .right {
  width: 70%;
  height: 100%;
}
.our_quality .right p {
  margin: 30px 0px 0px 25px;
  font-size: 2rem;
  word-spacing: 5px;
}
.our_quality .right .details {
  display: flex;
  margin: 10px 0px 0px 25px;
}
.our_quality .right .details .left2 {
  width: 72%;
  height: 100%;
}
.our_quality .right .details .left2 h6 {
  font-size: 1rem;
  line-height: 25px;
  font-weight: lighter;
  color: rgb(63, 63, 63);
  margin-right: 20px;
}
.our_quality .right .details .left2 a {
  display: block;
  margin: 40px 0 0 10px;
}
.our_quality .right .details .right2 {
  width: 28%;
  height: 100%;
}
.our_quality .right .details .right2 img {
  width: 260px;
}
/* 


........shop heading........ */
.shop_heading {
  width: 100%;
  margin: 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.shop_heading h1 {
  width: 250px;
  display: block;
  font-size: 2rem;
  font-weight: lighter;
  padding-bottom: 20px;
  border-bottom: 2px solid rgb(231, 70, 7);
  text-align: center;
}
.shop_heading p {
  font-size: 1.3rem;
  font-weight: lighter;
  color: rgb(73, 73, 73);
  margin-top: 20px;
}
/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
/* grid view responsive */
[class*="col-"] {
  float: left;
  padding: 0px;
}
.shop::after {
  content: "";
  clear: both;
  display: table;
}
/* 

.......shop............. */
.shop {
  width: 1300px;
  margin: 0 auto;
}
/* 

.......one apt.......... */
.shop .one_apt {
  height: 550px;
  padding: 7px 17px;
  font-family: sans-serif;
}
.shop .one_apt .apt_img {
  width: 100%;
  height: 370px;
  background-image: url(./images/shop/Apartment-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}
.shop .one_apt .apt_details {
  width: 100%;
  height: 90px;
  padding: 5px;
  border-bottom: 2px solid orange;
}
.shop .one_apt .apt_details h6 {
  margin: 10px 0px;
  font-size: 1.5rem;
  font-weight: lighter;
}
.shop .one_apt .apt_details p {
  color: rgb(44, 44, 44);
  letter-spacing: 1px;
  font-size: 0.9rem;
}
.shop .one_apt .apt_price {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop .one_apt .apt_price h4 {
  margin-right: 200px;
  font-size: 1.7rem;
}
.shop .one_apt .apt_price button {
  font-size: 1rem;
  padding: 10px 13px;
  border-radius: 5px;
  border: none;
  background-color: #ffc107;
}
.shop .one_apt .apt_price button:hover {
  background-color: #fdd250;
}
/* 
.....shop 2...... */
.shop .one_apt .img2 {
  background-image: url(./images/shop/Apartment-2.jpg);
}
/* 
.....shop 3...... */
.shop .one_apt .img3 {
  background-image: url(./images/shop/Apartment-3.jpg);
}
/* 
.....shop 4...... */
.shop .one_apt .img3 {
  background-image: url(./images/shop/Apartment-4.jpg);
}
/* 
.....shop 5...... */
.shop .one_apt .img5 {
  background-image: url(./images/shop/Apartment-5.jpg);
}
/* 
.....search for more...... */
.shop .one_apt .img6 {
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/shop/search_for_more_apartments.jpg);
}
.shop .one_apt .img6 button {
  color: #ffc107;
  font-size: 1.2rem;
  background: transparent;
  padding: 15px 20px;
  border-radius: 50px;
  border: 1px solid #ffc107;
}
.shop .one_apt .img6 button:hover {
  color: black;
  background-color: #fdd250;
}
