* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* 
.....head......  */
.head {
  width: 100%;
  height: 950px;
  background-image: url(./images/head.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* 

.............nav........... */
.head nav {
  height: 75px;
  width: 100%;
  display: flex;
}
/* 

.........nav logo........ */
.head nav .navlogo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.head nav .navlogo p {
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: sans-serif;
  padding: 10px;
  background-color: rgb(3, 121, 81);
  border-radius: 10px;
}
/* 

......nav links......*/
.head nav .navlinks {
  width: 55%;
}
.head nav .navlinks ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.head nav .navlinks ul li {
  font-size: 1rem;
  list-style-type: none;
  margin-top: 30px;
}
.head nav .navlinks ul li a {
  text-decoration: none;
  color: rgb(112, 112, 112);
  margin: 15px;
  padding: 9px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.head nav .navlinks ul li a:hover {
  background-color: rgb(112, 112, 112);
  color: white;
  border-radius: 7px;
}
/* 

.........nav button........ */
.head nav .navbutton {
  width: 15%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.head nav .navbutton button {
  margin-right: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  color: rgb(77, 77, 77);
  background-color: rgb(248, 248, 248);
  font-size: 1rem;
  cursor: pointer;
}
.head nav .navbutton button i {
  margin-right: 5px;
}
.head nav .navbutton button:hover {
  color: white;
  background-color: rgb(11, 79, 167);
  font-weight: 600;
}
/* 

.............head details......... */
.head .head_details {
  margin: 300px auto 0px;
  text-align: center;
}
.head .head_details .welcome {
  width: 100%;
  display: flex;
  justify-content: center;
}
.head .head_details .welcome h3 {
  font-size: 3.6rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(10, 128, 88);
  width: 700px;
  line-height: 60px;
  font-weight: 900;
}
.head .head_details .button {
  margin: 60px 0px 0px 0px;
  font-size: 1.1rem;
  font-family: sans-serif;
  color: rgb(255, 255, 255);
}
.head .head_details .button button1 {
  margin: 6px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  background-color: rgb(10, 112, 247);
  cursor: pointer;
}
.head .head_details .button button1:hover {
  background-color: rgb(15, 83, 173);
}
.head .head_details .button button2 {
  margin: 6px;
  padding: 7px 15px;
  border-radius: 20px;
  border: 2px solid rgb(216, 216, 216);
  background-color: transparent;
  cursor: pointer;
}
.head .head_details .button button2:hover {
  color: black;
  background-color: rgb(216, 216, 216);
}
/* 


......about_us.... */
.about_us {
  margin: 22px auto;
  width: 1300px;
  height: 600px;
  display: flex;
  font-family: sans-serif;
}
.about_us .left {
  width: 30%;
  height: 100%;
  background-image: url(./images/home-about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about_us .right {
  width: 70%;
  height: 100%;
}
.about_us .right p {
  margin: 30px 0px 0px 25px;
  font-size: 2rem;
  word-spacing: 5px;
}
.about_us .right .details {
  display: flex;
  margin: 10px 0px 0px 25px;
}
.about_us .right .details .left2 {
  width: 72%;
  height: 100%;
}
.about_us .right .details .left2 h6 {
  font-size: 1rem;
  line-height: 25px;
  font-weight: lighter;
  color: rgb(63, 63, 63);
  margin-right: 20px;
}
.about_us .right .details .left2 a {
  display: block;
  margin: 40px 0 0 10px;
}
.about_us .right .details .right2 {
  width: 28%;
  height: 100%;
}
.about_us .right .details .right2 img {
  width: 260px;
}
/* 

shop heading........ */
.shop_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  margin: 40px;
}
.shop_heading h1 {
  font-size: 2rem;
}
.shop_heading .s_u {
  background-color: #f08408;
  width: 100px;
  height: 2px;
  margin: 20px;
}
.shop_heading p {
  font-size: 1.3rem;
  color: #5e5e5e;
}
/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
/* grid view responsive */
[class*="col-"] {
  float: left;
  padding: 0px;
}
.shop::after {
  content: "";
  clear: both;
  display: table;
}
/* 

.......shop............. */
.shop {
  width: 1300px;
  margin: 0 auto;
}
/* 

.......one apt.......... */
.shop .one_apt {
  height: 550px;
  padding: 7px 17px;
  font-family: sans-serif;
}
.shop .one_apt .apt_img {
  width: 100%;
  height: 370px;
  background-image: url(./images/shop/Apartment-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}
.shop .one_apt .apt_details {
  width: 100%;
  height: 90px;
  padding: 5px;
  border-bottom: 2px solid orange;
}
.shop .one_apt .apt_details h6 {
  margin: 10px 0px;
  font-size: 1.5rem;
  font-weight: lighter;
}
.shop .one_apt .apt_details p {
  color: rgb(44, 44, 44);
  letter-spacing: 1px;
  font-size: 0.9rem;
}
.shop .one_apt .apt_price {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop .one_apt .apt_price h4 {
  margin-right: 200px;
  font-size: 1.7rem;
}
.shop .one_apt .apt_price button {
  font-size: 1rem;
  padding: 10px 13px;
  border-radius: 5px;
  border: none;
  background-color: #ffc107;
}
.shop .one_apt .apt_price button:hover {
  background-color: #fdd250;
}
/* 
.....shop 2...... */
.shop .one_apt .img2 {
  background-image: url(./images/shop/Apartment-2.jpg);
}
/* 
.....shop 3...... */
.shop .one_apt .img3 {
  background-image: url(./images/shop/Apartment-3.jpg);
}
/* 
.....shop 4...... */
.shop .one_apt .img3 {
  background-image: url(./images/shop/Apartment-4.jpg);
}
/* 
.....shop 5...... */
.shop .one_apt .img5 {
  background-image: url(./images/shop/Apartment-5.jpg);
}
/* 
.....search for more...... */
.shop .one_apt .img6 {
  height: 510px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/shop/search_for_more_apartments.jpg);
}
.shop .one_apt .img6 button {
  color: #ffc107;
  font-size: 1.2rem;
  background: transparent;
  padding: 15px 20px;
  border-radius: 50px;
  border: 1px solid #ffc107;
}
.shop .one_apt .img6 button:hover {
  color: black;
  background-color: #fdd250;
}
/* 

......review....... */
.review {
  margin: 20px auto;
  width: 1400px;
  height: 1200px;
  background-image: url(./images/review.jpg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3px;
  position: relative;
}
.review .rating {
  height: 300px;
  width: 400px;
  background-color: white;
  color: black;
  border-radius: 4px;
  padding: 30px;
  font-family: sans-serif;
  font-size: 1.4rem;
  position: absolute;
  top: 30px;
  left: 30px;
}
/* 

...........CONTACT PART........ */
.contact {
  margin: 20px auto;
  width: 1100px;
  display: flex;
  font-family: sans-serif;
}
.contact .left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 2px 20px 2px rgb(199, 199, 199);
}
.contact .left h4 {
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: lighter;
  margin: 10px;
  padding: 10px;
}
.contact .left form {
  width: 90%;
}
.contact .left form .input {
  width: 100%;
  margin: 0px 0px 20px 0px;
  padding: 10px;
  font-size: 14px;
  border: 0.5px solid rgb(151, 150, 150);
  border-radius: 5px;
}
.contact .left form .input:focus {
  box-shadow: 0px 0px 2px 2px rgb(0, 82, 189);
}
.contact .left button {
  font-size: 1.1rem;
  padding: 10px 13px;
  margin: 10px 2px;
  border-radius: 6px;
  font-weight: lighter;
  border: none;
}
.contact .left .btn_1 {
  background-color: #f5f5f5;
  color: black;
}
.contact .left .btn_1:hover {
  background-color: #d1d1d1;
}
.contact .left .btn_2 {
  background-color: rgb(10, 112, 247);
  color: white;
}
.contact .left .btn_2:hover {
  background-color: rgb(0, 81, 187);
}
.contact .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 50px;
}
.contact .right h4 {
  margin: 0 auto;
  font-size: 1.4rem;
  font-weight: lighter;
  margin: 10px 0px;
}
.contact .right p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(39, 39, 39);
}
.contact .right button {
  font-size: 0.8rem;
  padding: 10px 13px;
  margin: 15px 0px;
  border-radius: 30px;
  color: rgb(39, 39, 39);
  border: 0.5px solid rgb(39, 39, 39);
  background-color: transparent;
}
.contact .right button:hover {
  background-color: rgb(209, 209, 209);
}
/* 

........footer........ */
footer {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  background-color: rgb(26, 31, 26);
  padding: 10px 230px;
}
footer::after {
  content: "";
  clear: both;
  display: table;
}
footer .f_details {
  width: 100%;
  height: 190px;
}
footer .f_h {
  margin: 16px 0px 0px 0px;
  padding: 5px 5px 5px 0px;
  font-size: 1.2rem;
  color: white;
}
/* footer .f_h::after{
  border: 2px solid rgb(13, 230, 13);
} */
footer .f_c .underline {
  width: 80px;
  height: 2px;
  background-color: rgb(13, 230, 13);
  margin-bottom: 20px;
}
footer .f_c .f_p {
  line-height: 24px;
  padding-right: 40px;
  color: #cfcfcf;
}
footer .f_c .f_links li {
  list-style-type: none;
}
footer .f_c .f_links li a {
  text-decoration: none;
  color: #cfcfcf;
  line-height: 24px;
}
footer .f_c .f_links li a:hover {
  text-decoration: underline;
  color: #f08408;
}
footer .f_details .news .news_mail {
  width: 80%;
  height: 37px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin: 10px 30px 10px 0px;
}

footer .f_details .news .n_btn {
  /* display: inline-block; */
  font-size: 1rem;
  color: white;
  background-color: rgb(12, 117, 12);
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
}
footer .f_details .news .n_btn:hover {
  background-color: rgb(14, 83, 14);
}
/* 
........copyright....... */
footer .copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 0.8rem;
  color: #ffffff;
}
/* 
............start media quari for 600px......... */
@media screen and (max-width: 500px) {
  .head nav {
    height: 75px;
    width: 100%;
    display: flex;
    background-color: rgb(65, 65, 65);
  }
  /* 

.........nav logo........ */
  .head nav .navlogo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .head nav .navlogo p {
    color: white;
    font-size: 1rem;
    font-weight: 900;
    font-family: sans-serif;
    padding: 10px;
    background-color: rgb(3, 121, 81);
    border-radius: 10px;
  }
  /* 

.............head details......... */

  .head .head_details .welcome h3 {
    font-size: 2rem;
    width: 400px;
    line-height: 40px;
    font-weight: 900;
  }
  /* 


......about_us.... */
  .about_us {
    margin: 22px 0px;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }
  .about_us .left {
    width: 100%;
    height: 70%;
    background-image: url(./images/home-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
  }
  .about_us .right {
    width: 100%;
    height: 30%;
  }
  .about_us .right p {
    margin: 30px 25px 0px 20px;
    font-size: 1.2rem;
    word-spacing: 5px;
  }
  .about_us .right .details {
    display: flex;
    margin: 10px 0px 0px 20px;
  }
  .about_us .right .details .left2 {
    width: 100%;
    height: 100%;
  }
  .about_us .right .details .left2 h6 {
    font-size: 0.9rem;
    line-height: 20px;
    font-weight: lighter;
    color: rgb(63, 63, 63);
    margin-right: 20px;
    text-align: justify;
  }
  .about_us .right .details .left2 a {
    display: block;
    margin: 20px 0 0 10px;
  }
  .about_us .right .details .right2 {
    width: 28%;
    height: 100%;
    display: none;
  }
  .about_us .right .details .right2 img {
    width: 260px;
    display: none;
  }
  /* 

shop heading........ */
  .shop_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin: 20px;
  }
  .shop_heading h1 {
    font-size: 1.6rem;
    color: #333333;
  }
  .shop_heading .s_u {
    background-color: #f08408;
    width: 100px;
    height: 2px;
    margin: 7px;
  }
  .shop_heading p {
    font-size: 1rem;
    color: #5e5e5e;
    margin: 5px;
  }
  /* 

.......shop............. */
  .shop {
    width: 340px;
    margin: 0 auto;
  }
  /* 

.......one apt.......... */
  .shop .one_apt {
    height: 510px;
    padding: 0px 17px;
    font-family: sans-serif;
  }
  .shop .one_apt .apt_details {
    width: 100%;
    height: 70px;
    padding: 5px;
    border-bottom: 2px solid orange;
  }
  .shop .one_apt .apt_details h6 {
    margin: 5px 0px;
    font-size: 1.3rem;
    font-weight: lighter;
  }
  .shop .one_apt .apt_details p {
    color: rgb(44, 44, 44);
    letter-spacing: 0.5px;
    font-size: 0.8rem;
  }
  .shop .one_apt .apt_price {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shop .one_apt .apt_price h4 {
    margin-right: 120px;
    font-size: 1.2rem;
  }
  .shop .one_apt .apt_price button {
    font-size: 0.8rem;
    padding: 10px 13px;
    border-radius: 5px;
    border: none;
    background-color: #ffc107;
  }
  .shop .one_apt .apt_price button:hover {
    background-color: #fdd250;
  }
  /* 
.....search for more...... */

  .shop .one_apt .img6 button {
    color: #ffc107;
    font-size: 0.8rem;
    background: transparent;
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid #ffc107;
  }
  /* grid view responsive */
  [class*="col-"] {
    width: 100%;
    float: left;
    padding: 0px;
  }
  .shop::after {
    content: "";
    clear: both;
    display: table;
  }
  /* 

......review....... */
  .review {
    margin: 20px auto;
    width: 380px;
    height: 500px;
    background-image: url(./images/review.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    position: relative;
  }
  .review .rating {
    height: 170px;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 30px;
    font-family: sans-serif;
    font-size: 1.4rem;
    position: absolute;
    top: 100px;
    left: 0px;
  }
  /* 

...........CONTACT PART........ */
  .contact {
    margin: 20px auto;
    width: 360px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }
  .contact .left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 2px rgb(199, 199, 199);
  }
  .contact .left h4 {
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 10px;
    padding: 10px;
  }
  .contact .left form {
    width: 90%;
  }
  .contact .left form .input {
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 10px;
    font-size: 14px;
    border: 0.5px solid rgb(151, 150, 150);
    border-radius: 5px;
  }
  .contact .left form .input:focus {
    box-shadow: 0px 0px 2px 2px rgb(0, 82, 189);
  }
  .contact .left button {
    font-size: 1.1rem;
    padding: 10px 13px;
    margin: 10px 2px;
    border-radius: 6px;
    font-weight: lighter;
    border: none;
  }
  .contact .left .btn_1 {
    background-color: #f5f5f5;
    color: black;
  }
  .contact .left .btn_1:hover {
    background-color: #d1d1d1;
  }
  .contact .left .btn_2 {
    background-color: rgb(10, 112, 247);
    color: white;
  }
  .contact .left .btn_2:hover {
    background-color: rgb(0, 81, 187);
  }
  .contact .right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 10px;
  }
  .contact .right h4 {
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 10px 0px;
  }
  .contact .right p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: rgb(39, 39, 39);
    text-align: justify;
  }
  .contact .right button {
    font-size: 0.7rem;
    padding: 10px 11px;
    margin: 15px 0px 0px 0px;
    border-radius: 30px;
    color: rgb(39, 39, 39);
    border: 0.5px solid rgb(39, 39, 39);
    background-color: transparent;
  }
  .contact .right button:hover {
    background-color: rgb(209, 209, 209);
  }
  /* 
........footer........ */
  /* grid view responsive */
  [class*="col-"] {
    width: 100%;
    float: left;
    padding: 0px;
  }
  /* .footer::after {
    content: "";
    clear: both;
    display: table;
  } */

  footer {
    width: 100%;
    height: 600px;
    margin-top: 50px;
    background-color: rgb(26, 31, 26);
    padding: 10px;
  }

  footer .f_details {
    width: 100%;
    height: 190px;
  }
  footer .f_h {
    margin: 12px 0px 0px 0px;
    padding: 5px 5px 5px 0px;
    font-size: 1rem;
    color: white;
  }
  /* footer .f_h::after{
  border: 2px solid rgb(13, 230, 13);
} */
  footer .f_c .underline {
    width: 80px;
    height: 2px;
    background-color: rgb(13, 230, 13);
    margin-bottom: 10px;
  }
  footer .f_c .f_p {
    width: 300px;
    text-align: justify;
    font-size: 13px;
    line-height: 17px;
    padding-right: 0px;
    color: #cfcfcf;
  }
  footer .f_c .f_links li {
    list-style-type: none;
  }
  footer .f_c .f_links li a {
    text-decoration: none;
    color: #cfcfcf;
    font-size: 13px;
    line-height: 17px;
  }
  footer .f_c .f_links li a:hover {
    text-decoration: underline;
    color: #f08408;
  }
  footer .f_details .news .news_mail {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin: 10px 30px 10px 0px;
  }

  footer .f_details .news .n_btn {
    /* display: inline-block; */
    font-size: 0.8rem;
    color: white;
    background-color: rgb(12, 117, 12);
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
  }
  footer .f_details .news .n_btn:hover {
    background-color: rgb(14, 83, 14);
  }
  /* 
........copyright....... */
  footer .copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 0.8rem;
    color: #ffffff;
  }
}
/* 
..........responsive for 768px .......... */
@media screen and (max-width: 768px) and (min-width: 500px) {
  .head nav {
    height: 75px;
    width: 100%;
    display: flex;
    background-color: rgb(65, 65, 65);
  }
  /* 

.........nav logo........ */
  .head nav .navlogo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .head nav .navlogo p {
    color: white;
    font-size: 1rem;
    font-weight: 900;
    font-family: sans-serif;
    padding: 10px;
    background-color: rgb(3, 121, 81);
    border-radius: 10px;
  }
  /* 

.............head details......... */

  .head .head_details .welcome h3 {
    font-size: 2rem;
    width: 400px;
    line-height: 40px;
    font-weight: 900;
  }
  /* 


......about_us.... */
  .about_us {
    margin: 22px 0px;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }
  .about_us .left {
    width: 100%;
    height: 70%;
    background-image: url(./images/home-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
  }
  .about_us .right {
    width: 100%;
    height: 30%;
  }
  .about_us .right p {
    margin: 30px 25px 0px 20px;
    font-size: 1.2rem;
    word-spacing: 5px;
  }
  .about_us .right .details {
    display: flex;
    margin: 10px 0px 0px 20px;
  }
  .about_us .right .details .left2 {
    width: 70%;
    height: 100%;
  }
  .about_us .right .details .left2 h6 {
    font-size: 0.9rem;
    line-height: 20px;
    font-weight: lighter;
    color: rgb(63, 63, 63);
    margin-right: 20px;
    text-align: justify;
  }
  .about_us .right .details .left2 a {
    display: block;
    margin: 20px 0 0 10px;
  }
  .about_us .right .details .right2 {
    width: 30%;
    height: 100%;
    display: block;
  }
  .about_us .right .details .right2 img {
    width: 110px;
    display: block;
  }
  /* 

shop heading........ */
  .shop_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin: 20px;
  }
  .shop_heading h1 {
    font-size: 1.6rem;
    color: #333333;
  }
  .shop_heading .s_u {
    background-color: #f08408;
    width: 100px;
    height: 2px;
    margin: 7px;
  }
  .shop_heading p {
    font-size: 1rem;
    color: #5e5e5e;
    margin: 5px;
  }
  /* 

.......shop............. */
  .shop {
    width: 490px;
    margin: 0 auto;
  }
  /* 

.......one apt.......... */
  .shop .one_apt {
    height: 510px;
    padding: 0px 10px;
    font-family: sans-serif;
  }
  .shop .one_apt .apt_details {
    width: 100%;
    height: 70px;
    padding: 5px;
    border-bottom: 2px solid orange;
  }
  .shop .one_apt .apt_details h6 {
    margin: 5px 0px;
    font-size: 1.3rem;
    font-weight: lighter;
  }
  .shop .one_apt .apt_details p {
    color: rgb(44, 44, 44);
    letter-spacing: 0.5px;
    font-size: 0.8rem;
  }
  .shop .one_apt .apt_price {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shop .one_apt .apt_price h4 {
    margin-right: 265px;
    font-size: 1.2rem;
  }
  .shop .one_apt .apt_price button {
    font-size: 0.8rem;
    padding: 10px 13px;
    border-radius: 5px;
    border: none;
    background-color: #ffc107;
  }
  .shop .one_apt .apt_price button:hover {
    background-color: #fdd250;
  }
  /* 
.....search for more...... */

  .shop .one_apt .img6 button {
    color: #ffc107;
    font-size: 0.8rem;
    background: transparent;
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid #ffc107;
  }
  /* grid view responsive */
  [class*="col-"] {
    width: 100%;
    float: left;
    padding: 0px;
  }
  .shop::after {
    content: "";
    clear: both;
    display: table;
  }
  /* 

...........CONTACT PART........ */
  .contact {
    margin: 20px auto;
    width: 480px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }
  .contact .left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 2px rgb(199, 199, 199);
  }
  .contact .left h4 {
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 10px;
    padding: 10px;
  }
  .contact .left form {
    width: 90%;
  }
  .contact .left form .input {
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 10px;
    font-size: 14px;
    border: 0.5px solid rgb(151, 150, 150);
    border-radius: 5px;
  }
  .contact .left form .input:focus {
    box-shadow: 0px 0px 2px 2px rgb(0, 82, 189);
  }
  .contact .left button {
    font-size: 1.1rem;
    padding: 10px 13px;
    margin: 10px 2px;
    border-radius: 6px;
    font-weight: lighter;
    border: none;
  }
  .contact .left .btn_1 {
    background-color: #f5f5f5;
    color: black;
  }
  .contact .left .btn_1:hover {
    background-color: #d1d1d1;
  }
  .contact .left .btn_2 {
    background-color: rgb(10, 112, 247);
    color: white;
  }
  .contact .left .btn_2:hover {
    background-color: rgb(0, 81, 187);
  }
  .contact .right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 10px;
  }
  .contact .right h4 {
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 10px 0px;
  }
  .contact .right p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: rgb(39, 39, 39);
    text-align: justify;
  }
  .contact .right button {
    font-size: 0.7rem;
    padding: 10px 11px;
    margin: 15px 0px 0px 0px;
    border-radius: 30px;
    color: rgb(39, 39, 39);
    border: 0.5px solid rgb(39, 39, 39);
    background-color: transparent;
  }
  .contact .right button:hover {
    background-color: rgb(209, 209, 209);
  }
  /* 

......review....... */
  .review {
    margin: 20px auto;
    width: 600px;
    height: 700px;
    background-image: url(./images/review.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    position: relative;
  }
  .review .rating {
    height: 200px;
    width: 420px;
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 30px;
    font-family: sans-serif;
    font-size: 1.4rem;
    position: absolute;
    top: 70px;
    left: 0px;
    margin: 20px;
  }
  /* 
........footer........ */
  /* grid view responsive */
  [class*="col-"] {
    width: 100%;
    float: left;
    padding: 0px;
  }
  /* .footer::after {
    content: "";
    clear: both;
    display: table;
  } */

  footer {
    width: 100%;
    height: 600px;
    margin-top: 50px;
    background-color: rgb(26, 31, 26);
    padding: 30px;
  }

  footer .f_details {
    width: 100%;
    height: 190px;
  }
  footer .f_h {
    margin: 12px 0px 0px 0px;
    padding: 5px 5px 5px 0px;
    font-size: 1rem;
    color: white;
  }
  /* footer .f_h::after{
  border: 2px solid rgb(13, 230, 13);
} */
  footer .f_c .underline {
    width: 80px;
    height: 2px;
    background-color: rgb(13, 230, 13);
    margin-bottom: 10px;
  }
  footer .f_c .f_p {
    width: 430px;
    text-align: justify;
    font-size: 14px;
    line-height: 17px;
    padding-right: 0px;
    color: #cfcfcf;
  }
  footer .f_c .f_links li {
    list-style-type: none;
  }
  footer .f_c .f_links li a {
    text-decoration: none;
    color: #cfcfcf;
    font-size: 14px;
    line-height: 17px;
  }
  footer .f_c .f_links li a:hover {
    text-decoration: underline;
    color: #f08408;
  }
  footer .f_details .news .news_mail {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    margin: 10px 30px 10px 0px;
  }

  footer .f_details .news .n_btn {
    /* display: inline-block; */
    font-size: 0.9rem;
    color: white;
    background-color: rgb(12, 117, 12);
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
  }
  footer .f_details .news .n_btn:hover {
    background-color: rgb(14, 83, 14);
  }
  /* 
........copyright....... */
  footer .copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 0.8rem;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) and (max-width: 900px) {
  .head nav {
    height: 65px;
    width: 100%;
    display: flex;
    background-color: rgb(65, 65, 65);
  }
  /* 

.........nav logo........ */
  .head nav .navlogo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .head nav .navlogo p {
    color: white;
    font-size: 1rem;
    font-weight: 900;
    font-family: sans-serif;
    padding: 10px;
    background-color: rgb(3, 121, 81);
    border-radius: 10px;
  }
  /* 

.............head details......... */

  .head .head_details .welcome h3 {
    font-size: 2.3rem;
    width: 500px;
    line-height: 50px;
    font-weight: 900;
  }
  /* 


......about_us.... */
  .about_us {
    margin: 22px 10px;
    width: 100%;
    height: 450px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }
  .about_us .left {
    width: 300px;
    height: 100%;
    background-image: url(./images/home-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
  }
  .about_us .right {
    width: 60%;
    height: 100%;
  }
  .about_us .right p {
    margin: 30px 25px 0px 20px;
    font-size: 1.2rem;
    word-spacing: 5px;
  }
  .about_us .right .details {
    display: flex;
    margin: 10px 0px 0px 20px;
  }
  .about_us .right .details .left2 {
    width: 60%;
    height: 100%;
  }
  .about_us .right .details .left2 h6 {
    font-size: 0.9rem;
    line-height: 20px;
    font-weight: lighter;
    color: rgb(63, 63, 63);
    margin-right: 20px;
    text-align: justify;
  }
  .about_us .right .details .left2 a {
    display: block;
    margin: 20px 0 0 10px;
  }
  .about_us .right .details .right2 {
    width: 40%;
    height: 100%;
    display: block;
  }
  .about_us .right .details .right2 img {
    width: 150px;
    display: block;
  }
  /* 

shop heading........ */
  .shop_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    margin: 30px;
  }
  .shop_heading h1 {
    font-size: 1.6rem;
    color: #333333;
  }
  .shop_heading .s_u {
    background-color: #f08408;
    width: 100px;
    height: 2px;
    margin: 7px;
  }
  .shop_heading p {
    font-size: 1.2rem;
    color: #5e5e5e;
    margin: 5px;
  }

  /* 

.......shop............. */
  .shop {
    width: 740px;
    margin: 0 auto;
  }
  /* 

.......one apt.......... */
  .shop .one_apt {
    height: 510px;
    padding: 0px 10px;
    font-family: sans-serif;
  }
  .shop .one_apt .apt_details {
    width: 100%;
    height: 85px;
    padding: 5px;
    border-bottom: 2px solid orange;
  }
  .shop .one_apt .apt_details h6 {
    margin: 5px 0px;
    font-size: 1.3rem;
    font-weight: lighter;
  }
  .shop .one_apt .apt_details p {
    color: rgb(44, 44, 44);
    letter-spacing: 0.5px;
    font-size: 1rem;
  }
  .shop .one_apt .apt_price {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shop .one_apt .apt_price h4 {
    margin-right: 190px;
    font-size: 1.2rem;
  }
  .shop .one_apt .apt_price button {
    font-size: 0.8rem;
    padding: 10px 13px;
    border-radius: 5px;
    border: none;
    background-color: #ffc107;
  }
  .shop .one_apt .apt_price button:hover {
    background-color: #fdd250;
  }
  /* 
.....search for more...... */

  .shop .one_apt .img6 button {
    color: #ffc107;
    font-size: 1rem;
    background: transparent;
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid #ffc107;
  }
  /* grid view responsive */
  [class*="col-"] {
    width: 50%;
    float: left;
    padding: 0px;
  }
  .shop::after {
    content: "";
    clear: both;
    display: table;
  }
  /* 

......review....... */
  .review {
    margin: 20px auto;
    width: 750px;
    height: 700px;
    background-image: url(./images/review.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
    position: relative;
  }
  .review .rating {
    height: 200px;
    width: 420px;
    background-color: white;
    color: black;
    border-radius: 4px;
    padding: 30px;
    font-family: sans-serif;
    font-size: 1.4rem;
    position: absolute;
    top: 170px;
    left: 160px;
  }
  /* 

...........CONTACT PART........ */
  .contact {
    margin: 20px auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
  }
  .contact .left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 2px 20px 2px rgb(199, 199, 199);
  }
  .contact .left h4 {
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 10px;
    padding: 10px;
  }
  .contact .left form {
    width: 90%;
  }
  .contact .left form .input {
    width: 100%;
    margin: 0px 0px 20px 0px;
    padding: 10px;
    font-size: 14px;
    border: 0.5px solid rgb(151, 150, 150);
    border-radius: 5px;
  }
  .contact .left form .input:focus {
    box-shadow: 0px 0px 2px 2px rgb(0, 82, 189);
  }
  .contact .left button {
    font-size: 1.1rem;
    padding: 10px 13px;
    margin: 10px 2px;
    border-radius: 6px;
    font-weight: lighter;
    border: none;
  }
  .contact .left .btn_1 {
    background-color: #f5f5f5;
    color: black;
  }
  .contact .left .btn_1:hover {
    background-color: #d1d1d1;
  }
  .contact .left .btn_2 {
    background-color: rgb(10, 112, 247);
    color: white;
  }
  .contact .left .btn_2:hover {
    background-color: rgb(0, 81, 187);
  }
  .contact .right {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 10px;
    margin: 0 auto;
  }
  .contact .right h4 {
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 10px 0px;
  }
  .contact .right p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    color: rgb(39, 39, 39);
    text-align: justify;
  }
  .contact .right button {
    font-size: 0.7rem;
    padding: 10px 11px;
    margin: 15px 0px 0px 0px;
    border-radius: 30px;
    color: rgb(39, 39, 39);
    border: 0.5px solid rgb(39, 39, 39);
    background-color: transparent;
  }
  .contact .right button:hover {
    background-color: rgb(209, 209, 209);
  }
}
